.find-your-style-section{
    padding-top: 1px;
    background: linear-gradient(135deg, #fffdfa, #fdf3f0);
    padding: 0rem 3rem;
  }
.style-options {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    color: #242424;
  }
  
  .style-option {
    text-align: center;
  }
  
  .image-container {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    /* cursor: pointer; */
  }
  
  .image-container img {
    width: 100%;
    height: 450px;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease;
  }
  
  .image-container:hover img {
    transform: scale(1.05);
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease;
  }
  
  .image-container:hover .overlay {
    opacity: 1;
  }
  
  .category-btn {
    padding: 10px 20px;
    background-color: #ffffff;
    color: #333;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .category-btn:hover {
    background-color: #e0e0e0;
  }
  
  .style-explore-more {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .style-explore-more h3{
    background: linear-gradient(to right, #636363, #575757, #242424); /* mocniejszy kontrast */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 10px;

  }

  .style-explore-more p {
    font-family: 'Satoshi', sans-serif;
    margin-top: 1rem;
    padding: 0 2rem;
    /* font-size: 1.2rem; */
    font-weight: 300;
    color: #bbb;
    letter-spacing: 1px;
    animation: fadeIn 1.2s ease forwards;
    color: #4a4a4a;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
  }
  
  .explore-all-btn {
    margin-top: 10px;
    padding: 12px 24px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Responsive */
  @media (max-width: 1024px) {
    .style-options {
      grid-template-columns: repeat(2, 1fr);
    }
    .find-your-style-section{
      padding: 1rem 2rem;
  }
}
  @media (max-width: 768px){
    .find-your-style-section{
      padding: 1rem 1rem;
  }
  .image-container img {
    height: 350px;
  } 
}
  @media (max-width: 600px) {
    .find-your-style-section{
      padding: 1rem 0rem;
  }
    .style-options {
        grid-template-columns: repeat(2, 1fr);
    }
  }
  
  .overlay-text {
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 0.3s ease;
  }
  
  .image-container:hover .overlay-text {
    transform: scale(1.1);
  }
  