/* Karta produktu */
.product-card {
    border: 1px solid #eaeaea; /* Obwódka karty produktu */
    /* border-radius: 10px; Zaokrąglone rogi karty */
    overflow: hidden; /* Ukrycie elementów wychodzących poza obszar karty */
    transition: box-shadow 0.3s ease-in-out; /* Płynna zmiana cienia przy najechaniu */
    display: flex; /* Flexbox w celu lepszego rozmieszczenia elementów w karcie */
    flex-direction: column; /* Układ elementów w kolumnie (od góry do dołu) */
    background-color: white; /* Białe tło */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* Lekki cień */
    cursor: pointer; /* Kursor zmienia się na wskaźnik (ręka) */
    justify-content: space-between;
}

/* Ciemny tryb */
body.dark .product-card {
    background-color: #333; /* Tło karty w trybie ciemnym */
    border: 1px solid #444; /* Ciemniejsza obwódka */
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1); /* Jaśniejszy cień w trybie ciemnym */
}

body.dark .product-name,
body.dark .product-price,
body.dark .product-description,
body.dark .product-company {
    color: white; /* Kolor tekstu na biały w trybie ciemnym */
}

/* Hover efekt na karcie produktu */
.product-card:hover .product-image {
    transform: scale(1.05); /* Powiększenie obrazu przy najechaniu */
}

.product-card:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Powiększenie cienia przy najechaniu */
}

/* Obrazek produktu */
.product-image-container {
    width: 100%; /* Szerokość na 100% */
    aspect-ratio: 1 / 1; /* Utrzymanie proporcji 1:1 (kwadratowy obrazek) */
    overflow: hidden; /* Ukrycie części obrazka wychodzącej poza obszar */
}

.product-image {
    width: 100%; /* Szerokość obrazka na 100% */
    height: 100%; /* Wysokość obrazka na 100% */
    object-fit: cover; /* Obrazek będzie skalowany, aby wypełnił kontener, zachowując proporcje */
    transition: transform 0.5s ease-in-out; /* Płynne powiększenie obrazka */
}

/* Nazwa produktu */
.product-name {
    font-size: clamp(0.8rem, 2.5vw, 1.2rem);
    font-weight: bold; /* Pogrubienie tekstu */
    margin: 10px 0; /* Odstęp górny i dolny */
    color: #333; /* Kolor tekstu */
    padding: 0 10px;
}

/* Cena + firma - ułożenie obok siebie */
.price-company {
    display: flex; /* Flexbox */
    flex-direction: row; /* Układ w rzędzie */
    justify-content: space-between; /* Rozmieszczenie z przestrzenią między elementami */
    align-items: center; /* Wyrównanie do środka w pionie */
    padding:0 5%;

}


/* Cena */
.product-price-card {
    font-size: 16px; /* Rozmiar czcionki */
    font-weight: 600; /* Pogrubienie tekstu */
    color: #ff7c3b; /* Pomarańczowy kolor tekstu */
}

/* Opis produktu */
.product-description {
    font-size: 14px; /* Rozmiar czcionki */
    color: #555; /* Szary kolor tekstu */
    margin-bottom: 15px; /* Odstęp na dole */
    margin-left: 5px; /* Odstęp z lewej strony */
}

/* Firma */
.product-company {
    font-size: 14px; /* Rozmiar czcionki */
    color: #7f8c8d; /* Szary kolor tekstu */
}

/* Kontener przycisków w karcie produktu */
.product-buttons {
    margin-top: auto; /* Przesunięcie przycisków na dół karty */
    width: 100%; /* Szerokość na 100% */
    display: flex; /* Flexbox */
    justify-content: space-around; /* Rozmieszczenie przycisków z równą przestrzenią między nimi */
}
@media (max-width: 768px){
   .product-image-container {
    aspect-ratio: 4 / 5; /* Obrazek trochę wyższy */
  }
}