.find-your-style-section{
    margin-bottom: 50px;
}
.style-options {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 30px;
  }
  
  .style-option {
    text-align: center;
  }
  
  .image-container {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .image-container img {
    width: 100%;
    height: 450px;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease;
  }
  
  .image-container:hover img {
    transform: scale(1.05);
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease;
  }
  
  .image-container:hover .overlay {
    opacity: 1;
  }
  
  .category-btn {
    padding: 10px 20px;
    background-color: #ffffff;
    color: #333;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .category-btn:hover {
    background-color: #e0e0e0;
  }
  
  .style-explore-more {
    text-align: center;
    margin-top: 40px;
  }
  
  .explore-all-btn {
    margin-top: 10px;
    padding: 12px 24px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Responsive */
  @media (max-width: 1024px) {
    .style-options {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 600px) {
    .style-options {
        grid-template-columns: repeat(2, 1fr);
    }
  }
  
  .overlay-text {
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 0.3s ease;
  }
  
  .image-container:hover .overlay-text {
    transform: scale(1.1);
  }
  