.card {
  display: inline-block;
  transition: transform 0.2s;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  min-width: 200px;
  max-width: 200px;
  height: 300px;
  z-index: 0;
  border: 1px solid rgb(99, 99, 99);
  flex-grow: 1;
}
.card:hover {
  transform: scale(1.1);
  z-index: 1000;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
              rgba(0, 0, 0, 0.12) 0px -12px 30px,
              rgba(0, 0, 0, 0.12) 0px 4px 6px,
              rgba(0, 0, 0, 0.17) 0px 12px 13px,
              rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.cardImg {
  height: 300px;
  width: 100%;
  object-fit: cover;
}
  .cardOverlay {
    position: absolute;
    padding: 0 1rem 1rem 1rem;
    bottom: 0px;
    height: 60%;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-end;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    opacity: 1;
    transition: opacity 0.2s;
  }
  .cardOverlay:hover {
    height: 100%;
    transition: 0.3s ease;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1));
  }
  
    .cardTitle {
      font-weight: 900;
      font-size: 1rem;
      color: white;
      margin-bottom: 0.2rem;
    }
    
    .cardRole {
      font-size: 0.85rem;
      color: #cccccc;
      margin-bottom: 0.3rem;
    }
    
    .cardDescription {
      font-style: italic;
      font-size: 0.75rem;
      color: white;
      display: none;
    }
    
    .card:hover .cardDescription {
      display: block;
    }
    
    @media (max-width: 768px) {
      .card {
        min-width: 150px;
        max-width: 150px;
        height: 250px; 
      }
    
      .card-container {
        justify-content: center;
      }
    }
    
    @media (max-width: 600px) {
      .card {
        min-width: 120px; 
        max-width: 120px;
        height: 200px; 
      }
    }
    