.shoes-page-container {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column; /* ułatwia układ w pionie */
}

/* Parallax tło na górze strony */
.shoes-page-hero {
    position: relative;
    width: 100%;
    height: 600px; /* zamiast 50vh – stała wysokość */
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: default;
    overflow: hidden;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.shoes-page-hero-overlay{
    position: absolute;
    inset:0;
    background-color: rgba(0,0,0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.shoes-page-desc{
    padding: 5% 7%;
    line-height: 1.6;
    color:white;
}
@media (max-width: 1020px) {
    .shoes-page-hero{
        height: 650px;
    }
}