body {
  font-family: 'Satoshi', sans-serif;
}

body.light {
  background-color: #fff;
  color: #000;
  background: linear-gradient(135deg, #fffdfa, #fdf3f0),    
  url("https://i.pinimg.com/736x/8e/7e/27/8e7e2723ae6b6839ebbbc29b0c31ce37.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

body.dark {
  background-color: #121212;
  color: #fff;
  background: linear-gradient(135deg, rgba(10, 10, 10, 0.90), rgba(30, 30, 30, 0.90)),
  url("https://i.pinimg.com/736x/8e/7e/27/8e7e2723ae6b6839ebbbc29b0c31ce37.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.accent-box {
  background-color: #ffbfa0;
  border-radius: 12px;
  padding: 20px;
  color: #4a2f28;
}
.subtle-highlight {
  background-color: #f5e9e2;
  border-left: 4px solid #d1bdb3;
  padding: 10px 15px;
}

/* Nagłówki */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: bold;
  /* line-height: 1.3; */
}

h1 {
  font-size: clamp(2rem, 5vw, 3rem);
}

h2 {
  font-size: clamp(1.8rem, 4.5vw, 2.5rem);
}

h3, .h3-nav {
  font-size: clamp(1.6rem, 4vw, 2.2rem);
}

h4 {
  font-size: clamp(1.4rem, 3.5vw, 2rem);
}

h5 {
  font-size: clamp(1.2rem, 3vw, 1.8rem);
}

h6 {
  font-size: clamp(1rem, 2.5vw, 1.6rem);
}

/* Paragrafy */
p {
  font-size: clamp(1rem, 2.5vw, 1.4rem);
  /* line-height: 1.6; */
  margin-bottom: 1.5rem;
  font-family: 'Satoshi', sans-serif;
  letter-spacing: 1px;
}

/* Span i Small */
span {
  font-size: clamp(0.9rem, 2vw, 1.2rem);
}

small {
  font-size: 0.8rem;
}

/* Responsywność na urządzenia mobilne */
@media screen and (max-width: 768px) {
  h1 {
    font-size: clamp(1.5rem, 6vw, 2.5rem);
  }

  h2 {
    font-size: clamp(1.4rem, 5vw, 2.2rem);
  }

  h3 {
    font-size: clamp(1.2rem, 4vw, 2rem);
  }

  h4 {
    font-size: clamp(1rem, 3.5vw, 1.8rem);
  }

  h5 {
    font-size: clamp(0.9rem, 3vw, 1.5rem);
  }

  h6 {
    font-size: clamp(0.8rem, 2.5vw, 1.4rem);
  }

  p {
    font-size: clamp(0.9rem, 2vw, 1.2rem);
  }

  span {
    font-size: clamp(0.9rem, 2vw, 1.2rem);
  }

  small {
    font-size: 0.7rem;
  }
}

.mt{
  margin-top: 80px;
}
.mt50{
  margin-top: 50px;
}