body {
  font-family: 'Satoshi', sans-serif;
  margin-top: 80px;
}

body.light {
  background-color: #fff;
  color: #000;
  background: linear-gradient(135deg, #ffffffe0, #f8f5edb0, #ffffff),
  url("https://i.pinimg.com/736x/8e/7e/27/8e7e2723ae6b6839ebbbc29b0c31ce37.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

body.dark {
  background-color: #121212;
  color: #fff;
  background: linear-gradient(135deg, rgba(10, 10, 10, 0.95), rgba(30, 30, 30, 0.95)),
  url("https://i.pinimg.com/736x/8e/7e/27/8e7e2723ae6b6839ebbbc29b0c31ce37.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}


